.section {
  padding-block: 90px;
  background: #fffaf5;
  overflow: hidden;
  position: relative;
  color: #111;
}

.container {
  width: min(
    calc(100% - 48px),
    1200px
  );

  margin-inline: auto;
}